body {
  height: 100vh;
  overflow: hidden;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cdk-drag-placeholder {
  display: none;
}

.cdk-drop-list.available {
  box-sizing: border-box;
  border: 6px solid rgb(112, 255, 203);
  &.cdk-drop-list-dragging {
    border: none;
  }
}

.cdk-drop-list-dragging.available {
  position: relative;
  &::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    // background-color: rgba(119, 255, 0, 0.305);
    border: 6px solid rgb(255, 255, 112);
  }
}
